<div class="container">
  <div class="row">
      <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
        <h1>Form reset</h1>
        <label for="newPassword">Enter the new password:</label>
        <input type="password" ngModel name="newPassword" id="newPassword" required minlength="8" #newPassword="ngModel" class="form-control">
        <label for="confirmPassword">Confirm your password:</label>
        <input type="password" ngModel name="confirmPassword" id="confirmPassword" required minlength="8" #confirmPassword="ngModel" class="form-control">
        <div class="form-text" *ngIf="newPassword.value !== confirmPassword.value">Passwords do not match!</div>
        <br>
        <button type="submit" class="btn btn-outline-light" [disabled]="!resetForm.valid || (newPassword.value !== confirmPassword.value) ? true:false">Submit</button>
      </form>
  </div>
</div>
