*{
    background-color: #833131;
}

hr{
    padding: 0px;
    margin: 0px;
}

label{
    color: rgb(202, 202, 202);
}

input, label {
    display: block;
}

input[type=email]{
    background-color: rgb(202, 202, 202);
    color: black;
}

.btn-primary{
    color: white;
    background-color: rgb(0, 81, 255);
    border-color: #262626;
}

.btn-default{
    color: white;
    background-color: #262626;

}

.mydialog{
    overflow: hidden;
}