

<div class="container-fluid">


    <div style="height: 10vh; min-height: 65px;" class="row">
      <app-header></app-header>
      <div class="line"></div>
    </div>
    

    <div style="height: 72vh;" class="row content">
      <div class="col-3" style="height: 100%;" id="nav">
        <app-library></app-library>
      </div>

      <div class="col-7" style="height: 100%;" id="contenedor">
        <app-content></app-content>
      </div>

      <div class="col" style="height: 100%;" id="nav">
      </div>

    </div>
    
    <div style="height: 18vh;" class="row">
      <app-player></app-player>
    </div>


</div>
